<div class="full-width-row">
  <div class="image-container text-center" style="background: url('/assets/aboutbg.jpg') 50% 50% no-repeat transparent; background-size: cover; min-height: 600px; vertical-align: middle;">
    <div class="title">
      <h1>
        <a href="/about">About me</a>
      </h1>
    </div>
  </div>
</div>

<div class="content row" style="min-height: 2000px">
  <div class="large-12 columns">
    <div class="hero text-center row">
      <div class="medium-8 columns medium-offset-2 padding">
        <h3>Joakim Runeberg is a self-taught Full Stack Developer <em>and</em> Graphic Designer with over 10 years of experience in the industry.</h3>
        <br />
        <h5 class="subheader"><br /><i class="fa fa-angle-down fa-fw fa-2x"></i></h5>
      </div>
    </div>
    <div class="timeline row">
      <ul class="timeline no-bullet">
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb born"><i class="fa fa-child fa-4x fa-fw"></i><span>January 1987</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>Joakim Runeberg is born.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb game"><i class="fa fa-font fa-4x fa-fw"></i><span>December 1997</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>I build my first own computer-game using Neobook. It's a text-adventure about christmas.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb netscape"><span>August 1999</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>I learn HTML and build my first website. Netscape is a big deal and Macromedia hasn't been bought up by Adobe yet.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb pascal"><span>October 2003</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>I write my first Turbo Pascal application. Shortly after I build a small Delphi application that can render websites.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb photoshop"><span>March 2004</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>I become proficient in Photoshop.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb flash"><span>December 2004</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>I become proficient in Flash.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb user-4"><span>December 2004</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>I learn CSS and sell my first website to a customer.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb fsecure"><span>June 2005</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>Build an eLearning tool in Flash, ActionScript and Perl at <a href="http://f-secure.fi" target="_blank">F-Secure</a>. It gets burnt on over 5 million CDs.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb milfi"><span>September 2007</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>Work as a graphic designer in the Finnish Defence Command, producing graphics for <a href="http://mil.fi" target="_blank">mil.fi</a> and various printed material.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb ensidia"><span>September 2008</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>Work as a graphic designer in the Finnish Defence Command, producing graphics for <a href="http://mil.fi" target="_blank">mil.fi</a> and various printed material.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb pinkdog"><span>November 2011</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>Launch my own company <a href="http://pinkdog.fi" target="_blank">Pink Dog</a>, a full-blown digital agency driven by a single person.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb manaflask"><span>November 2011</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>Develop Manaflask.com, a site peaking at over 100 000 unique pageviews per day.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb mc"><span>July 2013</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>Join Milk+Chocolate as a Full-Stack Devloper.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>