<div class="full-width-row">
  <div class="image-container text-center" style="background: url('/assets/aboutbg.jpg') 50% 50% no-repeat transparent; background-size: cover; min-height: 600px; vertical-align: middle;">
    <div class="title">
      <h1>
        <a href="/about">About me</a>
      </h1>
    </div>
  </div>
</div>

<div class="content row" style="min-height: 2000px">
  <div class="large-12 columns">
    <div class="hero text-center row">
      <div class="medium-8 columns medium-offset-2 padding">
        <h3>Joakim Runeberg is a self-taught Full-Stack Developer <em>and</em> Graphic Designer with over 10 years of experience in the industry.</h3>
        <br />
        <h5 class="subheader"><br /><i class="fa fa-angle-down fa-fw fa-2x"></i></h5>
      </div>
    </div>

    <div class="timeline row">
      <ul class="timeline no-bullet">
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb born"><i class="fa fa-child fa-4x fa-fw"></i><span>January 1987</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>Joakim Runeberg is born.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb game"><i class="fa fa-font fa-4x fa-fw"></i><span>December 1997</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>I build my first own computer-game using Neobook. It's a text-adventure about christmas.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb netscape"><span>August 1999</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>I learn HTML and build my first website. Netscape is a big deal and Macromedia hasn't been bought up by Adobe yet.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb pascal"><span>October 2003</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>I write my first Turbo Pascal application. Shortly after I build a small Delphi application that can render HTML.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb photoshop"><span>March 2004</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>I become proficient in Photoshop.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb flash"><span>December 2004</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>I become proficient in Flash.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb"><i class="fa fa-money fa-4x fa-fw"></i><span>December 2004</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>I learn CSS and sell my first website to a customer.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb fsecure"><span>June 2005</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>Build an eLearning tool in Flash, ActionScript and Perl at <a href="http://f-secure.fi" target="_blank">F-Secure</a>. It gets burnt on over 5 million CDs.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb milfi"><span>September 2007</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>Work as a graphic designer in the Finnish Defence Command, producing graphics for <a href="http://mil.fi" target="_blank">mil.fi</a> and various printed material.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb ensidia"><span>April 2009</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>Become one of the founding members of <a href="http://www.wowwiki.com/Guild:Ensidia_(Tarren_Mill_EU)" target="_blank">Ensidia</a>, the best World of Warcraft guild in the world at the time. I develop and design a website and brand around the team which are seen by millions and thereby create the foundation for the future Manaflask.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb rails"><span>July 2010</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>Become proficient in Ruby on Rails.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb pinkdog"><span>November 2011</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>Launch my own company <a href="http://pinkdog.fi" target="_blank">Pink Dog</a>, a full-blown digital agency driven by a single person, producing web-sites and web-services using Ruby on Rails and Backbone.js. Everything is hosten on my own VPS cluster, running Nginx, PostgreSQL/MongoDB and Unicorn.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb manaflask"><span>November 2011</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>Work as a design &amp; development lead for <a href="http://manaflask.com" target="_blank">Manaflask</a>, a gaming related news-site peaking at over 100 000 unique pageviews per day.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb timer"><span>October 2012</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>Build my first native iOS application with Objective-C, a coffee timer that listens for the sounds and vibrations from my espresso machine to track brewtime.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb arcada"><span>July 2013</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>Graduate with a bachelor's degree in Online Media from Arcada. My <a href="http://www.theseus.fi/bitstream/handle/10024/57918/Runeberg_Joakim.pdf" target="_blank">thesis</a> on differences in architecture and performance between AngularJS and Backbone.js is rewarded with the maximum possible score of 5.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb mc"><span>July 2013</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>Join Milk+Chocolate as a Full-Stack Developer. I become proficient in Wordpress and Ember.js.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="event">
          <input type="radio" name="tl-group"/>
          <label></label>
          <div class="thumb"><i class="fa fa-user-md fa-4x fa-fw"></i><span>April 2014</span></div>
          <div class="content-perspective">
            <div class="content">
              <div class="content-inner">
                <p>
                  Build a service for secure online video calls with health specialists. <a href="http://e.laastari.fi" target="_blank">eLaastari</a> is launched in cooperation with <a href="http://laastari.fi" target="_blank">Laastari</a> in Finland and Sweden, and integrates with Laastari's proprietary patient journal software.
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="row text-center">
      <h4>The next big thing!</h4>
      <p>
        I will <strong>never</strong> stop learning and evolving.
      </p>
    </div>
  </div>
</div>

<br> <br>


<footer class="row nextup">
  <hr><br> <br>
  <div class="hero medium-8 columns medium-offset-2 padding text-center">
    <h3>Web-technologies are constantly moving forward, and so am I with them. The following are technologies I will look into next.</h3>
    <br>
  </div>
  <div class="medium-4 columns">
    <p><strong>Swift</strong></p>
    <p>I have to admit that I was never a big fan of Objective-C. Coming from a background in high-level programming languages (such as Perl, Python and Ruby) Objective-C never became natural to me and as a result iOS development always felt like a very cumbersome process. That all changed thanks to Swift, and I'm now very eager to get more into iOS development.</p>
  </div>
  <div class="medium-4 columns">
    <p><strong>Elixir</strong></p>
    <p>If Erlang and Ruby had a child, this would be the prodidgy. Elixir combines the best aspects of both languages into a new highly concurrent and fault-tolreant programming language for modern demands, and runs on the super performant Erlang VM. This is the language I hope to do the majority of my work in in the future.</p>
  </div>
  <div class="medium-4 columns">
    <p><strong>Go</strong></p>
    <p>Beating most other languages out of the ballpark in raw performance, Go is definitely something I want to have in my toolkit. Frameworks such as Revel and Martini makes Go increasingly interesting, and could perhaps become contenders for replacing Ruby on Rails as my framework of choice.</p>
  </div>
</footer>