$body-font: "ff-tisa-web-pro";
$header-font: "adelle-sans";

html, body {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: bold;
  line-height: 1.3em;
  margin-bottom: 30px;
}